<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Frontpage

        
    </title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script>
        location.hash="#start_zone"
    </script>
</head>
<body>
    <nav id="navbar">
        <div class="heading">
            <h1 class="primary-h">Library management system</h1>
        </div>
        <ul>
            <li class="nav-item"><a href="/home">Home</a></li>
            <li class="nav-item"><a href="/LoginForm">Signup/Signin</a></li>
            <li class="nav-item"><a href="/admin">Admin Login</a></li>
            <li class="nav-item"><a href="/dashboard">Dashboard</a></li>
            
        </ul>

    </nav>
    <section id="s-heading">
        
        <h1>Welcome to Library Management System</h1>
    </section>
    <section class="home">
        <div class="home-box" id="start_zone">
            <h1>Home</h1>
            <p>Library management refers to the systematic and   efficient administration of library resources, services, and operations to meet the needs of library users. The primary goal of library management is to ensure that library collections are well-organized, accessible, and able to support the educational, informational, and recreational needs of the community it serves. This involves a range of activities and processes aimed at maintaining and improving the overall functionality of a library.</p>
            <p>Problem Statement: The issue with the Current Library Management System is that manual procedures make member administration, circulation control, and book cataloguing ineffective. This leads to mistakes, lags, and difficulties keeping correct data and giving customers the best possible service.
            Goals:
             For automating book cataloguing, streamlining member procedures, introducing effective circulation control,  and  improving system accessibility , a library management system can be put into place.</p>
        </div>
    </section>
    

    

</body>
</html>